# bootstrap.servers=localhost:9092

# Make sure to replace the placeholders with your actual settings
bootstrap.servers=<EVRNTHUB_NAMESPACE_NAME>.servicebus.windows.net:9093
security.protocol=SASL_SSL
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="$ConnectionString" password="EVENTHUB_CPNNECTION_STRING";
